<section id="contact" class="bg-gray-dark-2">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
              <h3 class="font-alt font-w-600 letter-spacing-2 title-extra-large text-uppercase text-white">Contact Me</h3>
              <p class="mt-3 text-gray text-extra-large"><i>Have a project you'd like to discuss?</i></p>
              <span class="bg-base-color mt-4 mx-auto sep-line-medium-thick-long"></span>
          </div>
          <!-- //.col-lg-8 -->
      </div>
      <!-- //.row -->
      
      
      <div class="row justify-content-center mt-5 pt-lg-5">
          <div class="col-lg-8">
              <form action="contact/send_mail.php" method="post" id="form-contact">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="form-group">
                              <input type="text" name="name" class="font-alt form-control required" id="name" placeholder="Name">
                          </div>
                          <!-- //.form-group -->
                      </div>
                      <!-- //.col-lg-6 -->
                      
                      <div class="col-lg-6">
                          <div class="form-group">
                              <input type="email" name="email" class="font-alt form-control required email" id="email" placeholder="Email">
                          </div>
                          <!-- //.form-group -->
                      </div>
                      <!-- //.col-lg-6 -->
                      
                      <div class="col-12">
                          <div class="form-group">
                              <input type="text" name="subject" class="font-alt form-control required" id="subject" placeholder="Subject">
                          </div>
                          <!-- //.form-group -->
                      </div>
                      <!-- //.col-12 -->
                      
                      <div class="col-12">
                          <div class="form-group">
                              <textarea name="message" class="font-alt form-control required" id="message" rows="12" placeholder="Message"></textarea>
                          </div>
                          <!-- //.form-group -->
                      </div>
                      <!-- //.col-12 -->
                      
                      <div class="col-12">
                          <span class="d-block font-alt letter-spacing-1 text-gray text-small text-uppercase">*Please complete all fields correctly</span>
                          <button type="submit" class="btn btn-base-color btn-block btn-large box-shadow-wide mt-5 mx-0 text-white" id="btn-form-contact">Send Message</button>
                      </div>
                      <!-- //.col-12 -->
                  </div>
                  <!-- //.row -->
              </form>
          </div>
          <!-- //.col-lg-8 -->
      </div>
      <!-- //.row -->
  </div>
  <!-- //.container -->
</section>
<!-- //Section - Contact End -->
<footer class="bg-gray-dark">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col text-center">
              <ul class="m-0 p-0">
                  <li class="list-inline-item">
                      <a href="#" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                          <i class="fa fa-facebook ease"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                          <i class="fa fa-twitter ease"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                          <i class="fa fa-linkedin ease"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                          <i class="fa fa-dribbble ease"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                          <i class="fa fa-instagram ease"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" target="_blank" class="bg-gray-2 box-shadow-wide rounded text-white text-extra-large">
                          <i class="fa fa-pinterest ease"></i>
                      </a>
                  </li>
              </ul>
              
              <p class="m-0 mt-4 text-gray text-medium">&copy; 2015 Bindu Challa. All rights reserved.</p>
          </div>
          <!-- //.col -->
      </div>
      <!-- //.row -->
  </div>
  <!-- //.container -->
</footer>
<!-- //Footer End -->
