<section id="skills" class="bg-gray-dark-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h3 class="font-alt font-w-600 letter-spacing-2 title-extra-large text-uppercase text-white">Skills & Expertise</h3>
                <p class="mt-3 text-gray text-extra-large"><i>A winner is someone who recognizes his God-given talents, works his tail off to develop them into skills, and uses these skills to accomplish his goals.</i></p>
                <span class="bg-base-color mt-4 mx-auto sep-line-medium-thick-long"></span>
            </div>
            <!-- //.col-lg-8 -->
        </div>
        <!-- //.row -->
        
        <div class="row justify-content-center mt-5 pt-lg-5">
            <div class="col-sm-6 col-md-4 col-lg-2 text-center py-3 py-lg-0">
                <div class="chart-circle">
                    <div class="chart">
                        <span class="item-progress" data-percent="90"></span>
                    </div>
                    <!-- //.chart -->
                    
                    <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white">90%</span>
                </div>
                <!-- //.chart-circle -->
                
                <span class="d-block font-alt letter-spacing-1 mt-3 text-extra-large text-uppercase text-white">HTML5 + CSS3</span>
            </div>
            <!-- //.col-lg-2 -->
            
            <div class="col-sm-6 col-md-4 col-lg-2 text-center py-3 py-lg-0">
                <div class="chart-circle">
                    <div class="chart">
                        <span class="item-progress" data-percent="75"></span>
                    </div>
                    <!-- //.chart -->
                    
                    <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white"> 75%</span>
                </div>
                <!-- //.chart-circle -->
                
                <span class="d-block font-alt letter-spacing-1 mt-3 text-extra-large text-uppercase text-white"> JavaScript </span>
            </div>
            <!-- //.col-lg-2 -->
            
            <div class="col-sm-6 col-md-4 col-lg-2 text-center py-3 py-lg-0">
                <div class="chart-circle">
                    <div class="chart">
                        <span class="item-progress" data-percent="60"></span>
                    </div>
                    <!-- //.chart -->
                    
                    <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white">60%</span>
                </div>
                <!-- //.chart-circle -->
                
                <span class="d-block font-alt letter-spacing-1 mt-3 text-extra-large text-uppercase text-white"> Angular JS</span>
            </div>
            <!-- //.col-lg-2 -->
            
            <div class="col-sm-6 col-md-4 col-lg-2 text-center py-3 py-lg-0">
                <div class="chart-circle">
                    <div class="chart">
                        <span class="item-progress" data-percent="85"></span>
                    </div>
                    <!-- //.chart -->
                    
                    <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white"> 85%</span>
                </div>
                <!-- //.chart-circle -->
                
                <span class="d-block font-alt letter-spacing-1 mt-3 text-extra-large text-uppercase text-white"> Angular2+ </span>
            </div>
            <!-- //.col-lg-2 -->
            
            <div class="col-sm-6 col-md-4 col-lg-2 text-center py-3 py-lg-0">
                <div class="chart-circle">
                    <div class="chart">
                        <span class="item-progress" data-percent="70"></span>
                    </div>
                    <!-- //.chart -->
                    
                    <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white">70%</span>
                </div>
                <!-- //.chart-circle -->
                
                <span class="d-block font-alt letter-spacing-1 mt-3 text-extra-large text-uppercase text-white"> Jquery</span>
            </div>
            <!-- //.col-lg-2 -->
            
            <div class="col-sm-6 col-md-4 col-lg-2 text-center py-3 py-lg-0">
                <div class="chart-circle">
                    <div class="chart">
                        <span class="item-progress" data-percent="75"></span>
                    </div>
                    <!-- //.chart -->
                    
                    <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white">75%</span>
                </div>
                <!-- //.chart-circle -->
                
                <span class="d-block font-alt letter-spacing-1 mt-3 text-extra-large text-uppercase text-white"> BootStrap </span>
            </div>
            <!-- //.col-lg-2 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
  </section>
  <!-- //Section - Skills End -->
  <section id="knowledge" class="bg-gray-dark-2 pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h3 class="font-alt font-w-600 letter-spacing-2 title-extra-large text-uppercase text-white">Knowledge</h3>
                <p class="mt-3 text-gray text-extra-large"><i>Human behavior flows from three main sources: desire, emotion, and knowledge.</i></p>
                <span class="bg-base-color mt-4 mx-auto sep-line-medium-thick-long"></span>
            </div>
            <!-- //.col-lg-8 -->
        </div>
        <!-- //.row -->
        
        <div class="row mt-5 pt-lg-5">
            <div class="col-lg-6 py-3">
                <span class="d-block font-alt letter-spacing-1 mb-3 text-extra-large text-uppercase text-white"> Analytic skills </span>
                
                <div class="chart-bar bg-gray">
                    <span class="item-progress bg-gray-2" data-percent="80"></span>
                    <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white">80%</span>
                </div>
                <!-- //.chart-bar -->
            </div>
            <!-- //.col-lg-6 -->
            
            <div class="col-lg-6 py-3">
                <span class="d-block font-alt letter-spacing-1 mb-3 text-extra-large text-uppercase text-white"> Search Engine Optimization</span>
                
                <div class="chart-bar bg-gray">
                    <span class="item-progress bg-gray-2" data-percent="70"></span>
                    <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white">70%</span>
                </div>
                <!-- //.chart-bar -->
            </div>
            <!-- //.col-lg-6 -->
            
            <div class="col-lg-6 py-3">
                <span class="d-block font-alt letter-spacing-1 mb-3 text-extra-large text-uppercase text-white">Web Development</span>
                
                <div class="chart-bar bg-gray">
                    <span class="item-progress bg-gray-2" data-percent="85"></span>
                    <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white">85%</span>
                </div>
                <!-- //.chart-bar -->
            </div>
            <!-- //.col-lg-6 -->
            
            <div class="col-lg-6 py-3">
                <span class="d-block font-alt letter-spacing-1 mb-3 text-extra-large text-uppercase text-white"> Photoshop </span>
                
                <div class="chart-bar bg-gray">
                    <span class="item-progress bg-gray-2" data-percent="80"></span>
                    <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white">80%</span>
                </div>
                <!-- //.chart-bar -->
            </div>
            <!-- //.col-lg-6 -->
            
            <div class="col-lg-6 py-3">
                <span class="d-block font-alt letter-spacing-1 mb-3 text-extra-large text-uppercase text-white"> Responsive web Design </span>
                
                <div class="chart-bar bg-gray">
                    <span class="item-progress bg-gray-2" data-percent="70"></span>
                    <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white"> 70%</span>
                </div>
                <!-- //.chart-bar -->
            </div>
            <!-- //.col-lg-6 -->
            
            <div class="col-lg-6 py-3">
                <span class="d-block font-alt letter-spacing-1 mb-3 text-extra-large text-uppercase text-white"> Single Page Applications </span>
                
                <div class="chart-bar bg-gray">
                    <span class="item-progress bg-gray-2" data-percent="75"></span>
                    <span class="percent bg-base-color box-shadow-wide font-alt font-w-600 rounded text-small text-white"> 75%</span>
                </div>
                <!-- //.chart-bar -->
            </div>
            <!-- //.col-lg-6 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
  </section>
  <!-- //Section - Knowledge End -->