<section id="milestones" class="bg-cover bg-gray-dark-2 bg-overlay-black-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h3 class="font-alt font-w-600 letter-spacing-2 title-extra-large text-uppercase text-white">Milestones Achieved</h3>
                <p class="mt-3 text-gray text-extra-large"><i>My path has not been determined. I shall have more experiences and pass many more milestones.</i></p>
                <span class="bg-base-color mt-4 mx-auto sep-line-medium-thick-long"></span>
            </div>
            <!-- //.col-lg-8 -->
        </div>
        <!-- //.row -->
        
        <div class="row justify-content-center mt-5 pt-lg-5">
            <div class="col-md-6 col-lg-3 py-3 py-lg-0">
                <div class="opacity-9 text-center">
                    <i class="icon-Coffee icon icon-large bg-base-color text-white rounded-circle"></i>
                    <span class="timer d-block font-alt font-w-600 mt-3 letter-spacing-1 text-white title-md-large title-extra-large" data-from="10" data-to="5012" data-speed="1500">10</span>
                    <span class="d-inline-block font-alt font-w-600 letter-spacing-2 mt-1 text-extra-large text-uppercase text-white">Cups of Coffee</span>
                </div>
                <!-- //.opacity-9 -->
            </div>
            <!-- //.col-md-6 -->
            
            <div class="col-md-6 col-lg-3 py-3 py-lg-0">
                <div class="opacity-9 text-center">
                    <i class="icon-Clock icon icon-large bg-base-color text-white rounded-circle"></i>
                    <span class="timer d-block font-alt font-w-600 mt-3 letter-spacing-1 text-white title-md-large title-extra-large" data-from="10" data-to="6000" data-speed="1500">10</span>
                    <span class="d-inline-block font-alt font-w-600 letter-spacing-2 mt-1 text-extra-large text-uppercase text-white">Hours Worked</span>
                </div>
                <!-- //.opacity-9 -->
            </div>
            <!-- //.col-md-6 -->
            
            <div class="col-md-6 col-lg-3 py-3 py-lg-0">
                <div class="opacity-9 text-center">
                    <i class="icon-Coding icon icon-large bg-base-color text-white rounded-circle"></i>
                    <span class="timer d-block font-alt font-w-600 mt-3 letter-spacing-1 text-white title-md-large title-extra-large" data-from="10" data-to="20" data-speed="1500">10</span>
                    <span class="d-inline-block font-alt font-w-600 letter-spacing-2 mt-1 text-extra-large text-uppercase text-white">Succesful Projects</span>
                </div>
                <!-- //.opacity-9 -->
            </div>
            <!-- //.col-md-6 -->
            
            <div class="col-md-6 col-lg-3 py-3 py-lg-0">
                <div class="opacity-9 text-center">
                    <i class="icon-Coding icon icon-large bg-base-color text-white rounded-circle"></i>
                    <span class="timer d-block font-alt font-w-600 mt-3 letter-spacing-1 text-white title-md-large title-extra-large" data-from="10" data-to="25" data-speed="1500">10</span>
                    <span class="d-inline-block font-alt font-w-600 letter-spacing-2 mt-1 text-extra-large text-uppercase text-white">Happy Clients</span>
                </div>
                <!-- //.opacity-9 -->
            </div>
            <!-- //.col-md-6 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</section>
<!-- //Section - Milestones End -->
         <!-- Section - Strengths Start -->
         <section id="strengths" class="bg-cover bg-gray-dark-2 bg-overlay-black-5 pb-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h3 class="font-alt font-w-600 letter-spacing-2 title-extra-large text-uppercase text-white">My Strengths</h3>
                        <p class="mt-3 text-gray text-extra-large"><i>Failure will never overtake me if my determination to succeed is strong enough.</i></p>
                        <span class="bg-base-color mt-4 mx-auto sep-line-medium-thick-long"></span>
                    </div>
                    <!-- //.col-lg-8 -->
                </div>
                <!-- //.row -->
                
                <div class="row justify-content-center mt-5 pt-5">
                    <div class="col-11 col-md-8 col-lg-6 col-xl-5">
                        <div class="chart-column">
                            <div class="legend legend-left d-none d-md-block">
                                <span class="font-alt font-w-600 letter-spacing-1 title-medium text-uppercase text-white">ME</span>
                            </div>
                            <!-- //.legend -->

                            <div class="legend legend-right d-none d-md-block">
                                <div class="item">
                                    <span class="text-medium text-right text-white">Superhero</span>
                                </div>
                                <!-- //.item -->

                                <div class="item">
                                    <span class="text-medium text-right text-white">Preety Good</span>
                                </div>
                                <!-- //.item -->

                                <div class="item">
                                    <span class="text-medium text-right text-white">Good</span>
                                </div>
                                <!-- //.item -->

                                <div class="item">
                                    <span class="text-medium text-right text-white">Newbie</span>
                                </div>
                                <!-- //.item -->
                            </div>
                            <!-- //.legend -->

                            <div class="chart clearfix">
                                <div class="item">
                                    <div class="bar">
                                        <div class="item-progress bg-base-color" data-percent="92">
                                            <span class="font-alt letter-spacing-2 text-medium text-uppercase text-white">Creativity</span>
                                        </div>
                                        <!-- //.item-progress -->
                                        
                                        <span class="bg-white font-alt font-w-600 text-small">92%</span>
                                    </div>
                                    <!-- //.bar -->
                                </div>
                                <!-- //.item -->
                                
                                <div class="item">
                                    <div class="bar">
                                        <div class="item-progress bg-base-color" data-percent="71">
                                            <span class="font-alt letter-spacing-2 text-medium text-uppercase text-white">Reliable</span>
                                        </div>
                                        <!-- //.item-progress -->
                                        
                                        <span class="bg-white font-alt font-w-600 text-small">71%</span>
                                    </div>
                                    <!-- //.bar -->
                                </div>
                                <!-- //.item -->
                                
                                <div class="item">
                                    <div class="bar">
                                        <div class="item-progress bg-base-color" data-percent="82">
                                            <span class="font-alt letter-spacing-2 text-medium text-uppercase text-white">Communication</span>
                                        </div>
                                        <!-- //.item-progress -->
                                        
                                        <span class="bg-white font-alt font-w-600 text-small">82%</span>
                                    </div>
                                    <!-- //.bar -->
                                </div>
                                <!-- //.item -->
                                
                                <div class="item">
                                    <div class="bar">
                                        <div class="item-progress bg-base-color" data-percent="58">
                                            <span class="font-alt letter-spacing-2 text-medium text-uppercase text-white">Leadership</span>
                                        </div>
                                        <!-- //.item-progress -->
                                        
                                        <span class="bg-white font-alt font-w-600 text-small">58%</span>
                                    </div>
                                    <!-- //.bar -->
                                </div>
                                <!-- //.item -->

                                <div class="item">
                                    <div class="bar">
                                        <div class="item-progress bg-base-color" data-percent="67">
                                            <span class="font-alt letter-spacing-2 text-medium text-uppercase text-white">Persuasion</span>
                                        </div>
                                        <!-- //.item-progress -->
                                        
                                        <span class="bg-white font-alt font-w-600 text-small">67%</span>
                                    </div>
                                    <!-- //.bar -->
                                </div>
                                <!-- //.item -->
                            </div>
                            <!-- //.chart -->
                        </div>
                        <!-- //.chart-column -->
                    </div>
                    <!-- //.col-11 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </section>
        <!-- //Section - Strengths End -->