<section id="profile" class="bg-gray-dark-2 overflow-hidden py-0">
  <div class="container">
      <div class="row">
          <div class="col-xl-7 col-profile" data-mh="mh-col-profile">
              <div class="pr-lg-4">
                  <h3 class="font-alt font-w-600 letter-spacing-2 title-extra-large text-uppercase text-white">Hello, My Name is Bindu!</h3>
                  <p class="mt-4 text-large text-white"> Bindu Challa, currently working as a Sr.UI/Angular Developer. Highly motivated creative developer with international client portfolio.</p>
                  <span class="bg-base-color mt-4 sep-line-medium-thick"></span>
                  <p class="mt-4 text-gray text-large">I'm currently working at IBM, where I spend most of my time crafting and working on awesome projects.</p>
                  <p class="mt-3 text-gray text-large">IBM is an American multinational information technology company. IBM manufactures and markets computer hardware, middleware and software, and provides hosting and consulting services in areas ranging from mainframe computers to nanotechnology. </p>

                  <div class="row pt-5">
                      <div class="col-md-6">
                          <span class="d-block font-alt letter-spacing-2 text-extra-large text-uppercase text-white">Contact Details:</span>
                          <ul class="list-unstyled mt-2 text-gray text-large">
                              <li> Bindu Challa </li>
                              <li class="pt-2"> Irving, Texas, USA, 75038.</li>
                              <li class="pt-2">+1(903) 213-5288</li>
                              <li class="pt-2">binduc.uid@gmail.com</li>
                              <a href="https://www.linkedin.com/in/bindu-c-97b534175/" target="_blank" class="pt-2"> Linked In </a><br>
                              <a href="https://github.com/bindurepo" target="_blank" class="pt-2"> Github </a>
                          </ul>
                      </div>
                      <!-- //.col-md-6 -->
                      
                      <div class="col-md-6">
                          <a href="https://drive.google.com/file/d/1HckYXWZ14cuVZ2gExoyLc36AEusG6KM7/view?usp=sharing" class="btn box-shadow-wide btn-base-color btn-large mt-4 mt-md-5">Download Resume</a>
                      </div>
                      <!-- //.col-md-6 -->
                  </div>
                  <!-- //.row -->
              </div>
              <!-- //.pr-lg-4 -->
          </div>
          <!-- //.col-xl-7 -->
          
          <div class="col-xl-5 d-none d-xl-block position-relative" data-mh="mh-col-profile">
              <img src="assets/images/profileb.jpg" alt="" class="img-fluid left-0 position-absolute top-0 w-100"/>
          </div>
          <!-- //.col-xl-5 -->
      </div>
      <!-- //.row -->
  </div>
  <!-- //.container -->
</section>
<!-- //Section - Profile End -->
