<section id="home" class="home-bg-static bg-cover bg-gray-dark bg-overlay-red-5 w-100">
  <div class="container h-100">
      <div class="row align-items-center h-100 justify-content-center">
          <div class="col-lg-9 text-center">
              <h2 class="text-red font-alt font-w-600 letter-spacing-2 m-0 mt-3 opacity-9-5 text-uppercase title-sm-extra-large-2 title-extra-large-4">I'm Bindu Challa!</h2>
              <span class="d-block font-alt mt-2 opacity-9-5 text-blue title-sm-extra-large title-extra-large-3">Creative Developer</span>
              <a href="../profile/" class="page-scroll btn box-shadow-wide btn-base-color btn-large m-0 mt-4">Know Me Better</a>
          </div>
          <!-- //.col-lg-9 -->
      </div>
      <!-- //.row -->
  </div>
  <!-- //.container -->
</section>
<!-- //Section - Home End -->